@model ML.Disco
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAll</h2>

<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th> ID DISCO </th>
                <th> TITULO </th>
                <th> GENERO </th>
                <th> DURACION </th>
                <th> AÑO </th>
                <th> DISTRIBUIDORA</th>
                <th> VENTAS </th>
        <th> DISPONIBILIDAD</th>
        <th> ID ARTISTA</th>
        <th>  NOMBRE ARTISTA</th>
        </tr>
        </thead>
        <tbody>
        <th></th>
        </tbody>
    </table>

</div>